<div class="container">
    <h3 class="border border-danger form-control-lg  my-5 mx-5 shadow-lg text-danger text-center">Our Team</h3>
</div>
<div class="container d-flex justify-content-center align-items-center;">
    <div class="card ">
        <div class="emp">
            <div class="photo"><img src="../../../assets/images/client-2.jpg" alt=""></div>
            <div class="name text-center">
               Mr. S.K. Lee <br> <B>President</B>
            </div>
            
        </div>
    </div>
    <div class="card">
        <div class="emp">
            <div class="photo"><img src="../../../assets/images/client-2.jpg" alt=""></div>
            <div class="name text-center">
                 Mr. M. Henry <br><B>CFO</B>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="emp">
            <div class="photo"><img src="../../../assets/images/client-2.jpg" alt=""></div>
            <div class="name text-center">
               Mr. Peter Parker  <br><b>CEO</b>
            </div>
        </div>
    </div>

</div>