h3{
   
    font-size: 2rem;
    inset: 10px;
}
.card{
    // display: flex;
    border:none;
    

}
img{
   
    border-radius: 50%;

}
.name{
    font-size: 1.5rem;
    font-weight: 400;
}
.container{
    gap:10px
}