.login-section{
    height:100vh;
    background: url(../../../assets/images/image.png);
    }
    .login-card{
        width:450px;
    }
    .card-header{
        background:var(--secondary-light);
        color:var(--secondary-color);
        font-weight:800 ;
        letter-spacing: 2px;
        font-size: 1.5rem;
    }
    input::placeholder{
        color:var(--secondary-light)
    }
   
