<div class="container">
    <h3 class="border border-info form-control-lg  my-5 mx-5 shadow-lg text-info text-center">Customers</h3>
    <div class="row">
        <table class=" table table-striped mx-3 p-3 border ">
            <thead class=" table table-primary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Contact no.</th>
                <th scope="col">E-mail</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
            <tr>
                <th scope="row">1</th>
                <td>DSKPJ145902</td>
                <td>Rajesh Singh</td>
                <td>8946545655</td>
                <td>singhraj[at]yahoomail.com</td>
                <td>P-23,JK Colony,Kanpur,UP.</td>
            </tr>
            
            <tr>
                <th scope="row">2</th>
                <td>DSUIJ145902</td>
                <td>Kartik Yadav</td>
                <td>9546590655</td>
                <td>kyadav[at]gmail.com</td>
                <td>V-34/67, Jailroad ,North-west ,Delhi.</td>
            </tr>

            <tr>
                <th scope="row">3</th>
                <td>RTKPJ148802</td>
                <td>Manav Jha</td>
                <td>7946542355</td>
                <td>jmanav[at]yahoomail.com</td>
                <td>B-23,B BLOCK, Murshidabad,WB</td>
            </tr>

            <tr>
                <th scope="row">4</th>
                <td>QFHPJ145967</td>
                <td>Dharmendra Pal Singh</td>
                <td>9946534655</td>
                <td>singhpald[at]gmail.com</td>
                <td>a-23/34 Arjun Nagar,Jalandhar,Punjab.</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>DSKPJ145902</td>
                <td>Rajesh Singh</td>
                <td>8946545655</td>
                <td>singhraj[at]yahoomail.com</td>
                <td>P-23,JK Colony,Kanpur,UP.</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>PSKPJ145678</td>
                <td>PanSingh Tomar</td>
                <td>6946545678</td>
                <td>pantomar[at]yahoomail.com</td>
                <td>P-23,Lodhi road,New Delhi,Delhi.</td>
            </tr>

            
            

        </table>
    </div>
</div>
