h3{
   
    font-size: 2rem;
    inset: 10px;
}
.over-view{
    height: 300px;
    background: #fff;
    box-shadow: 1px 1px 3px #00000046;

}
.card{
    display: flex;
    padding:10px;
    flex-direction: row;
    align-items: center;
    gap:10px;
    background: rgba(32, 221, 235, 0.676);
    .icon{
        height: 50px;
        width: 50px;
        background:rgb(7, 179, 179);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border:3px solid #fff;
    }

.content{
    color:#fff;
    font-weight:600;
    text-shadow: 2px 2px 5px #000;
}
}