<!-- <div class="main">
    <div class="container local">
<h1 class="text-center">Admin-Pannel</h1>
    </div>
</div> -->
<!-- <div class="context">
    <h1 >Admin-Panel</h1>
</div> -->

<div class="wrapper">
    <span>A</span>
    <span>D</span>
    <span>M</span>
    <span>I</span>
    <span>N</span>
    &nbsp;
    <span>P</span>
    <span>A</span>
    <span>N</span>
    <span>E</span>
    <span>L</span>
</div>
<div class="footer container-fluid">
    <div class="text ">
        <img src="../../../assets/images/hero-bg.png" style="width:100%">
    </div>
    <div class="card">
        <div class="row">
            <div class="col"><img src="../../../assets/images/about-img.png" alt=""style="width:100%"></div>
            <div class="col"><img src="../../../assets/images/user-profile-img.png" alt=""style="width:100%"></div>
            <div class="col"><img src="../../../assets/images/logo.png" alt=""style="width:100%"></div>
            <div class="col"><img src="../../../assets/images/p-5.png" alt=""style="width:100%;"></div>
            <div class="col"><img src="../../../assets/images/p-2.png" alt=""style="width:100%;"></div>
        </div>
    </div>
    </div>