<div class="container">
    <h3 class=" text-center border border-dark form-control-lg  my-5 mx-5 shadow-lg">Inventory</h3>
    <div class="row over-view gap-4 ">
        <div class="card p-1 border border-dark border-4">
            <canvas id="myChart"></canvas>
        </div>
        <div class="card p-5 border  border-dark border-4">
            <h4 class="text-center  bg-info text-dark p-4">Sales Report</h4>
            <p class="text-dark "style="font-size: 1.6rem">This sales report signifies that the sales of a particular products
                in a particular region with respect to that particular years and profit,
            </p>
        </div>
        </div>
        <div class="TAB p-5 border border-dark border-4">
            <h4 class="text-center ">Sales Data</h4>

            <table class="table table-striped">
                <thead class="bg-secondary">
                    <th scope="col">Sno.</th>
                    <th scope="col">Product</th>
                    <th scope="col">Year</th>
                    <th scope="col">Amount(in $)</th>
                    <th scope="col">Region</th>
                </thead>
                <tbody>
                <tr>
                <th scope="row">1</th>
                  
                    <td>A</td>
                    <td>2017</td>
                    <td>45000</td>
                    <td>East</td>
                </tr>
                <tr >
                    <th scope="row">2</th>
                    <td>B</td>
                    <td>2018</td>
                    <td>49000</td>
                    <td>South-east</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>C</td>
                    <td>2019</td>
                    <td>46000</td>
                    <td>North-east</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>D</td>
                    <td>2020</td>
                    <td>54000</td>
                    <td>North</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>E</td>
                    <td>2021</td>
                    <td>26000</td>
                    <td>North-west</td>
                </tr>
                <tr >
                    <th scope="row">6</th>
                    <td>F</td>
                    <td>2022</td>
                    <td>63000</td>
                    <td>South</td>
                </tr> 
                <tr>
                    <th scope="row">7</th>
                    <td>G</td>
                    <td>2023</td>
                    <td>70000</td>
                    <td>West</td>
                </tr>

            </tbody>

            </table>

        
    </div>
</div>