a{
    display: flex;
    margin-bottom: 5px;
    text-decoration: none;
    gap:5px;
    font-family:'Times New Roman', Times, serif;
    transition:all 0.3s ease-in; 
    text-shadow: 2px 0 #ffffff, -2px 0 #a06565, 0 2px #e62828, 0 -2px #fff,
    1px 1px #e4cc64, -1px -1px #4ed649, 1px -1px #ffffff, -1px 1px #fff;
    }
   