
<nav class="navbar navbar-light bg-dark justify-content-between">
    <a class="navbar-brand text-light"><img src="../assets/images/hero.png" alt="">Admin-Pannel</a>
    <form class="form-inline">
      <button class="btn text-light my-sm-0" type="submit"(click)="home()">Home</button>
      <button class="btn text-light my-sm-0" type="submit"(click)="login()">Login</button>
      <button class="btn text-light my-sm-0" type="submit"(click)="reg()">Register</button>
    </form>
  </nav>
 
<router-outlet></router-outlet>