<div class="header">
    <span><i class="bi bi-person-circle"></i></span>
    <span><i class="bi bi-bell-fill"></i></span>
    <span><i class="bi bi-envelope-fill"></i></span>
</div>


<div class="container-fluid">

    <div class="container sidebar">
        <app-navigation></app-navigation>
        
    </div>
    <div class="container main">
        <router-outlet></router-outlet>
    </div>
</div>
<!-- modal section -->

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5 text-danger" id="exampleModalLabel"><i class="bi bi-box-arrow-left"></i> Logout</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p >Do you want to logout?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button routerLink=""class="btn btn-danger">Logout</button>
        </div>
      </div>
    </div>
  </div>